* {
    box-sizing: border-box;
  }
    
  html {
    height: 100%;
  }
  
  .sky {

    background-image: linear-gradient(red, yellow, green);
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 70px;
  }
  
  .floor {
    width: 100%;
    bottom: 0;
    background: #764133;
    background: linear-gradient(#81493c, #63392d);
    height: 200px;
    border-top: 3px solid black;
    display: block;
  }
  
  .wrapper {
    width: 270px;
    animation: move 10s linear infinite;
    position: relative;
    left: 0;
    top: 5px;
  }
  
  .top {
    background: #86875f;
    border: 3px solid black;
    border-bottom: none;
    width: 140px;
    height: 60px;
    border-radius: 30px 100px 0 0;
    margin-left: 45px;
    position: relative;
    box-shadow: inset 20px -8px 0 #5d6239;
    z-index: 4;
  }
  
  .middle {
    width: 200px;
    height: 40px;
    background: #86875f;
    border: 3px solid black;
    border-radius: 10px 30px 0 0;
    box-shadow: inset 15px -8px 0 #5d6239;
    border-bottom: none;
    margin-left: 35px;
  }
  
  .explosion {
    position: absolute;
    top: -40px;
    right: -70px;
    z-index: -2;
    border-radius: 50%;
    width: 80px;
    height: 60px;
    background-color: #f7ff00;
    background-image: repeating-radial-gradient(75% 25%, circle cover, #f7ff00, #ffc526 33%, #991212);
    border: 3px solid black;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    animation: shoot 2s linear infinite;
    transform: rotate(-20deg) scale(0);
    opacity: 0;
    z-index: 4;
  }
  
  .top:after {
    content: "";
    background: #86875f;
    border: 3px solid black;
    height: 20px;
    width: 150px;
    position: absolute;
    transform: rotate(-15deg);
    right: -80px;
    top: 10px;
    z-index: -1;
    box-shadow: inset 0 -8px 0 3px #5d6239;
  }
  
  .top:before {
    content: "";
    position: absolute;
    transform: rotate(-15deg);
    height: 30px;
    width: 15px;
    border: 3px solid black;
    border-radius: 8px;
    background: #86875f;
    right: -95px;
    top: -18px;
    box-shadow: inset 5px -6px 0 #5d6239;
  }
  
  .bottom {
    background: #322d27;
    height: 100px;
    width: 270px;
    border-radius: 100px 100px 150px 150px;
    border: 3px solid black;
    padding: 8px;
    box-shadow: inset 10px -10px 0 #161211;
  }
  
  .wheels:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .wheels {
    background: #47443d;
    border-radius: inherit;
    list-style: none;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 8px 3px rgba(0, 0, 0, 0.5);
  }
  
  .wheels li {
    float: left;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50%;
    background: #959ca2;
    box-shadow: inset 10px -10px 0 #72757a;
    margin: 4px;
    position: relative;
  }
  
  .wheels li:nth-child(2),
  .wheels li:nth-child(3) {
    margin-top: 20px;
  }
  
  .wheels li:after {
    background: #424439;
    border: 3px solid black;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.5);
  }
  
  .star {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -10px;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid white;
    border-left: 20px solid transparent;
    transform: rotate(35deg);
  }
  
  .star:before {
    border-bottom: 16px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -10px;
    left: -12px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  
  .star:after {
    position: absolute;
    display: block;
    color: red;
    top: 0px;
    left: -21px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid white;
    border-left: 20px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  @-moz-keyframes move {
    from {
      left: -300px;
    }
    to {
      left: 2000px;
    }
  }
  @-webkit-keyframes move {
    from {
      left: -300px;
    }
    to {
      left: 2000px;
    }
  }
  @-moz-keyframes shoot {
    0%, 11%, 100% {
      opacity: 0;
    }
    20% {
      transform: rotate(-20deg) scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes shoot {
    0%, 11%, 100% {
      opacity: 0;
      transform: rotate(-20deg) scale(0);
    }
    10% {
      transform: rotate(-20deg) scale(1);
      opacity: 1;
    }
  }

  p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    font-size: 22px;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 40s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    padding: 1.5em 0em;
    position: relative;
    top: -70%;
    left: 180%;
    width: 40em;
    margin: 0 0 0 -20em;
  }

  #fly-in {
    font-size: 2em;
    color: #fff;
    text-align: center;
    width: 100vw;
    font-weight: 700;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    height: 20vh; 
    text-transform: uppercase;
  }
  
  #fly-in span {
    display: block;
    font-size: .4em;
    opacity: .8;
  }
  
  #fly-in div {
   position: fixed; 
    margin: 2vh 0;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: switch 30s linear infinite;
  }
  
  #fly-in div:nth-child(2) { animation-delay: 5s}
  #fly-in div:nth-child(3) { animation-delay: 10s}
  #fly-in div:nth-child(4) { animation-delay: 15s}
  #fly-in div:nth-child(5) { animation-delay: 20s}
  #fly-in div:nth-child(6) { animation-delay: 25s}

  
  @keyframes switch {
      0% { opacity: 0;filter: blur(20px); transform:scale(12)}
      3% { opacity: 1;filter: blur(0); transform:scale(1)}
      10% { opacity: 1;filter: blur(0); transform:scale(.9)}
      13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
      80% { opacity: 0}
      100% { opacity: 0}
  }